.for-titles{
    width: 1336px;
    height: 178px;
    background-color: aliceblue;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.first-p{
    width: 760px;
}
